body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.content-wrapper {
    display: flex;
    max-width: 1200px; /* Adjust the width as needed */
    margin-top: 20px;
}

.contents-panel {
    width: 15%; /* Adjust the width as needed, e.g., 10-15% */
    background-color: #eee;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
}

.contents-panel ul {
    list-style: none;
    padding: 0;
}

.contents-panel a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.contents-panel a:hover {
    text-decoration: underline;
}

main {
    width: 85%; /* Adjust the width as needed */
    margin-left: 15%; /* Set to the width of the contents panel */
    padding: 20px;
    box-sizing: border-box;
}